@import '../../styles/variables';
@import '../../styles/mixins';

.rating {
  display: flex;
  gap: 2px;

  &__star {
    font-size: 30px;
    color: #E3E3E3;

    @include mobile {
      font-size: 20px;
    }

    &--filled {
      color: $primary-color;
    }
  }
}