// Colors
$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$white: #FFFFFF;
$black: #000000;

// Fonts
$font-family: 'Montserrat', sans-serif;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

// Spacing
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;

// Border radius
$border-radius: 10px;