@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  padding: $spacing-lg 0;

  &__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    @include flex-between;

    @include mobile {
      padding: 0 $spacing-sm;
    }
  }

  &__logo {
    img {
      height: 68px;

      @include mobile {
        height: 47px;
      }
    }
  }

  &__nav {
    display: flex;
    gap: $spacing-xl;

    @include mobile {
      gap: $spacing-sm;
    }
  }

  &__nav-link {
    font-size: 24px;
    font-weight: 500;
    color: $primary-color;
    text-transform: uppercase;
    transition: text-decoration 0.3s ease;

    @include mobile {
      font-size: 12px;
    }

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }
}