@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  background-color: $black;
  color: $white;
  margin-top: auto;
  padding: $spacing-xl 0;

  &__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    text-align: center;

    @include mobile {
      padding: 0 $spacing-sm;
    }
  }

  &__logo {
    height: 40px;
    margin-bottom: $spacing-lg;

    @include mobile {
      height: 30px;
      margin-bottom: $spacing-md;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 500;

    @include mobile {
      font-size: 12px;
    }
  }
}